<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>青岛西海岸旅游投资集团招标采购合同台账管理系统</title>
  <style type="text/css">
    .selected {
      color: maroon;
    }
    strong {
      color: red;
    }
    .btn-01{
      height: 50px;
      margin: 5px 0px 0px 0px;
    }

  </style>
</head>
<body>
  <!-- 非可见组件 -->
  <div id="context-menu">
    <ul id="ul_context-menu" class="dropdown-menu" role="menu" style="font-size: 12px;">
      <li id="id_jump_target_立项"><a tabindex="-1" href="#" operator="top">跳转至<strong>立项</strong></a></li>
      <li id="id_jump_target_招标"><a tabindex="-1" href="#" operator="bottom">跳转至<strong>招标</strong></a></li>
      <li id="id_jump_target_合同"><a tabindex="-1" href="#" operator="bottom">跳转至<strong>合同</strong></a></li>
      <li id="id_jump_target_变更"><a tabindex="-1" href="#" operator="bottom">跳转至<strong>变更</strong></a></li>
      <li id="id_jump_target_分包合同"><a tabindex="-1" href="#" operator="bottom">跳转至<strong>分包合同</strong></a></li>
      <li id="id_jump_target_付款"><a tabindex="-1" href="#" operator="bottom">跳转至<strong>付款</strong></a></li>
    </ul>
  </div>
  <!-- 可见组件 -->
  <div class="container-fluid">
    <div class="row clearfix" style="margin-bottom: 0px;">
      <p style="height: 60px; background-color: orange; line-height: 60px;">青岛西海岸旅游投资集团招标采购合同台账管理系统</p>
    </div>
    <div class="row clearfix" style="margin-top: 0px;">
      <div class="col-lg-1 column" style="padding: 0px;">
        <!-- 按钮列 -->
        <div class="btn-toolbar" role="toolbar">
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Company"   >单位管理</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Init"      >立项管理</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Bidding"   >招标管理</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Contract"  >合同管理</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Alteration">合同变更</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_SubCont"   >分包管理</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Budget"    >预算管理</button>
           <button class="btn btn-default btn-01" style="width: 95%;" type="button" id="id_btn_Payment"   >付款管理</button>
        </div>
      </div>
      <div class="col-lg-9 column" style="padding: 0px;">
        <!-- 树表 -->
        <div class="table-responsive" style="overflow: auto; font-size: 12px; cursor: default;">
          <table id="id_tree_table" class="table table-condensed" style="white-space: nowrap;"></table>
        </div>
      </div>
      <div class="col-lg-2 column" style="padding: 0px;">
        <!-- 图表 -->
        <div id="id_chart" style="height: 200px;"></div>
        <!-- 概览描述 -->
        <p id="id_overviewInfo" style="font-size: 12px; padding: 10px;"></p>
      </div>
    </div>
  </div>
    <div class="row clearfix">
      <!-- 备注 -->
      <div class="col-lg-12 column" style="height: 50px; background-color: orange; text-align: center;">
        <p style="line-height: 25px; font-size: 12px">
          <span>{{ username }}，欢迎您登陆系统。</span>
          <a href="{% url 'logout' %}">点击此处注销</a>
          <br />本系统由顾翔开发制作。对系统的建议请联系：
          <a href="mailto:edwin_gu@163.com">顾翔的电子邮箱</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Jquery组件引用 -->
  <!-- <script src="/statics/js/jquery.min.js"></script> -->
  <!-- bootstrap组件引用 -->
  <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
  <!-- <script src="/statics/js/bootstrap.min.js"></script> -->
  <!-- bootstrap-table组件引用 -->
  <link rel="stylesheet" href="/statics/css/bootstrap-table.css">
  <!-- <script src="/statics/js/bootstrap-table.min.js"></script> -->
  <!-- <script src="/statics/js/bootstrap-table-zh-CN.js"></script> -->
  <!-- 右键菜单相关组件 -->
  <!-- <script src="/statics/js/bootstrap-contextmenu.js"></script> -->
  <!-- <script src="/statics/js/prettify.js"></script> -->
  <link href="/statics/css/bootstrap-combined.min.css" rel="stylesheet">
  <!-- echarts -->
  <!-- <script type="text/javascript" src="/statics/js/echarts.min.js"></script> -->
  <!-- layer -->
  <!-- <script type="text/javascript" src="/statics/js/layer.js"></script> -->
  <!-- edwin常用函数集合 -->
  <!-- <link rel="stylesheet" href="/statics/css/online_20180105.css"> -->
  <script type="text/javascript" src="/statics/js/online_20180105.js"></script>
  <script type="text/javascript" src="/statics/js/often_by_Edwin_201712182301.js"></script>

  <script type="text/javascript">
    $.ajaxSetup({
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
    });

    var child_data = {};
    var dict_Chn_Eng = {
      '单位': 'Company',
      '立项': 'Init',
      '招标': 'Bidding',
      '合同': 'Contract',
      '变更': 'Alteration',
      '分包合同': 'SubContract',
      '预算': 'Budget',
      '付款': 'Payment',
    };
    $(main);

    function main() {
      // 初次加载页面
      $(window).load(windowOnLoad);
    }

    function windowOnLoad() {

      // 获取树表数据
      $.ajax({
        url: "{% url 'ajax_treeTable' %}",
        type: 'POST',
        data: {},
        success: table_postOnLoad,
      });
      // $.post("{% url 'ajax_treeTable' %}", {}, table_postOnLoad);

      // 为大图注册双击事件
      $(document).on('click', "#id_chart", function() {
        layer.open({
          type: 2,
          title: '',
          area: ['80%', '85%'],
          content: "{% url 'big_Pie' %}",
          success: function(layero, index) {},
        });
      });
      // 为各按钮注册事件
      $(document).on('click', "#id_btn_Company", function() {
        child_data['key_table'] = '单位';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));     // 在新窗口中打开模块
        // layer.open({
        //   type: 2,
        //   btn: ['确定', '取消'],
        //   title: child_data['key_table'] + '信息管理',
        //   maxmin: true,
        //   area: ['100%', '100%'],
        //   content: content_url.replace('ewhuvlk', key_url),
        // });
      });
      $(document).on('click', "#id_btn_Init", function() {
        child_data['key_table'] = '立项';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
      $(document).on('click', "#id_btn_Bidding", function() {
        child_data['key_table'] = '招标';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
      $(document).on('click', "#id_btn_Contract", function() {
        child_data['key_table'] = '合同';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
      $(document).on('click', "#id_btn_Alteration", function() {
        child_data['key_table'] = '变更';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
      $(document).on('click', "#id_btn_SubCont", function() {
        child_data['key_table'] = '分包合同';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
      $(document).on('click', "#id_btn_Budget", function() {
        child_data['key_table'] = '预算';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
      $(document).on('click', "#id_btn_Payment", function() {
        child_data['key_table'] = '付款';
        child_data['Init_UDID'] = null;
        var key_url = dict_Chn_Eng[child_data['key_table']];
        var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
        window.open(content_url.replace('ewhuvlk', key_url));
      });
    }

    function table_postOnLoad(ret) {
      if (ret === 'No Permission') {
        alert('您没有权限获取系统概览数据');
        return
      }
      var datas = formatTreeTableData(ret);

      // 构造columns
      var columns = [];
      // var columns = [{radio: true}];
      var heads = ['加减', '项目名称', '合同名称', '项目概算', '概算已分配率', '概算付款比', '招标方式', '中标价', '合同值', '合同付款比', '已付款'];
      for (var i in heads) {
        if (heads[i] === '项目名称') {
          columns.push({
            field: heads[i],
            title: heads[i],
            halign: 'center',
            align: 'left',
            valign: 'middle',
            width: '200px',
            formatter: function(value, row, index) {
              var n = row['层级'];
              var prefix = '';
              for (var i = 0; i < n; i++) {
                prefix = '&nbsp;&nbsp;&nbsp;&nbsp;' + prefix
              }
              return prefix + '<b>' + value + '</b>';
            },
          })
        } else if (heads[i] === '加减') {
          columns.push({
            field: heads[i],
            title: '',
            halign: 'center',
            align: 'left',
            valign: 'middle',
            formatter: function(value, row, index) {
              var img_plus_url = '/statics/images/+.gif';
              var img_minus_url = '/statics/images/-.gif';
              var n = row['层级'];
              var prefix = '';
              for (var i = 0; i < n; i++) {
                prefix = '&nbsp;&nbsp;' + prefix
              }
              if (value === '+') {
                return prefix + '<img src=\"' + img_plus_url + '\"  alt=\"+\" />';
              } else if (value === '-') {
                return prefix + '<img src=\"' + img_minus_url + '\"  alt=\"+\" />';
              } else {
                return '';
              }
            }
          })
        } else if (heads[i] in {
            '项目概算': 0,
            '中标价': 0,
            '合同值': 0,
            '已付款': 0
          }) {
          columns.push({
            field: heads[i],
            title: heads[i],
            halign: 'center',
            align: 'right',
            valign: 'middle',
            formatter: function(value, row, index) {
              if (value === null) {
                return value;
              } else {
                return toThousands(value);
              }
            }
          })
        } else if (heads[i] in {
            '概算已分配率': 0,
            '概算付款比': 0,
            '合同付款比': 0
          }) {
          columns.push({
            field: heads[i],
            title: heads[i],
            halign: 'center',
            align: 'center',
            valign: 'middle',
            formatter: function(value, row, index) {
              if (value === null) {
                return value;
              } else {
                return toPercents(value);
              }
            }
          })
        } else {
          columns.push({
            field: heads[i],
            title: heads[i],
            halign: 'center',
            align: 'center',
            valign: 'middle',
          })
        }
      }

      $('#id_tree_table').bootstrapTable('destroy'); // 销毁
      treeTableInit("#id_tree_table", datas, columns); // 初始化

      // 保证表头对齐
      $(window).resize(function() {
        $('#id_tree_table').bootstrapTable('resetView');
      })
    }

    function formatTreeTableData(data) {
      //将有子项的都标记成+
      for (var i = 0; i < data.length - 1; i++) {
        var Level_thisRow = data[i]['层级'];
        var Level_nextRow = data[i + 1]['层级'];
        if (Level_thisRow < Level_nextRow) {
          data[i]['加减'] = '+';
        }
      }
      // 设置可见
      for (var i in data) {
        if (data[i]['层级'] > 0) {
          data[i].隐藏 = true;
        } else {
          data[i].隐藏 = false;
        }
      }
      return data
    }

    function treeTableInit(id_table, table_data, table_colum) {
      $(id_table).bootstrapTable({
        data: table_data,
        striped: false,
        cache: false,
        height: 600,
        // showColumns: true,
        // showRefresh: true,
        minimumCountColumns: 2,
        clickToSelect: true,
        uniqueId: "立项识别码",
        detailView: false,
        columns: table_colum,
        singleSelect: true,
        onClickCell: table_Tree_On_Click_Cell,
      })
      // 注册单击事件，实现展开折叠
      // $(document).on('click-cell.bs.table', id_table, table_Tree_On_Click_Cell)
      function table_Tree_On_Click_Cell(field, value, row, $element) {
        var n = table_data.indexOf(row);
        if (field === '加减') {
          // 加减互变
          if (value === '+') {
            $(id_table).bootstrapTable('updateCell', {
              index: n,
              field: '加减',
              value: '-'
            });
          } else if (value === '-') {
            $(id_table).bootstrapTable('updateCell', {
              index: n,
              field: '加减',
              value: '+'
            });
          }
          // 显示-后面的
          for (var i = 0; i < table_data.length - 1; i++) {
            if (table_data[i].加减 === '-') { // 检测到某行为-，将此-后所有为该层级+1的行都显现
              var Level_thisRow = table_data[i]['层级'];
              for (var j = i + 1; j < table_data.length; j++) {
                if (table_data[j]['层级'] === Level_thisRow + 1) {
                  table_data[j].隐藏 = false;
                }
                if (table_data[j]['层级'] <= Level_thisRow) {
                  // i++;
                  break;
                }
              }

            }
          }
          // // 隐藏+后面的
          for (var i = 0; i < table_data.length - 1; i++) {
            if (table_data[i].加减 === '+') { // 检测到某行为+，将此+后所有大于该层级的行都隐藏
              var Level_thisRow = table_data[i]['层级'];
              for (var j = i + 1; j < table_data.length; j++) {
                if (table_data[j]['层级'] > Level_thisRow) {
                  table_data[j].隐藏 = true;
                }
                if (table_data[j]['层级'] <= Level_thisRow) {
                  // i++;
                  break;
                }
              }
            }
          }
          // 设置可见
          for (var i in table_data) {
            if (table_data[i].隐藏) {
              $('#id_tree_table').bootstrapTable('hideRow', {
                index: i
              });
            } else {
              $('#id_tree_table').bootstrapTable('showRow', {
                index: i
              });
            }
          }

        } else {
          var UDID = row.立项识别码;
          // 高亮所在行
          $(".selected").removeClass("selected");
          $(id_table + ' tr[data-uniqueid=' + UDID + ']').addClass("selected");
          // 生成概览
          $.ajax({
            url: "{% url 'getDataForOverview' %}",
            type: 'POST',
            data: {
              'UDID': UDID,
            },
            success: getDataForOverview,
          });
          // $.post("{% url 'getDataForOverview' %}", {'UDID': UDID}, getDataForOverview);
          function getDataForOverview(myString) {
            if (myString === 'No Permission') {
              alert('您没有权限获取项目概况数据');
              return
            }
            $('#id_overviewInfo').html(myString);
          }
          // 生成图表
          $.ajax({
            url: "{% url 'get_Pie_Data' %}",
            type: 'POST',
            data: {
              'UDID': UDID,
            },
            success: get_Pie_Data,
          });
          // $.post("{% url 'get_Pie_Data' %}", {'UDID': UDID}, get_Pie_Data);
          function get_Pie_Data(chart_data) {
            if (chart_data === 'No Permission') {
              alert('您没有权限获取图表数据');
              return
            }
            makeChart('id_chart', chart_data.mySeries, chart_data.myTitle, chart_data.myDescribe);
            child_data['chart_data'] = chart_data;
          }
        }

        // 添加右键菜单
        var UDID;
        $('#id_tree_table tr').contextmenu({
          target: '#context-menu',
          before: function(event, context) {
            UDID = $(event.currentTarget).attr('data-uniqueid');
            // 高亮所在行
            $(".selected").removeClass("selected");
            $(id_table + ' tr[data-uniqueid=' + UDID + ']').addClass("selected");
            // 生成概览
            $.post("{% url 'getDataForOverview' %}", {
              'UDID': UDID
            }, getDataForOverview);

            function getDataForOverview(myString) {
              $('#id_overviewInfo').html(myString);
            }
            // 生成图表
            $.ajax({
              url: "{% url 'get_Pie_Data' %}",
              type: 'POST',
              data: {
                'UDID': UDID,
              },
              success: get_Pie_Data,
            });
            // $.post("{% url 'get_Pie_Data' %}", {'UDID': UDID}, get_Pie_Data);
            function get_Pie_Data(chart_data) {
              if (chart_data === 'No Permission') {
                alert('您没有权限获取图表数据');
                return
              }
              makeChart('id_chart', chart_data.mySeries, chart_data.myTitle, chart_data.myDescribe);
              child_data['chart_data'] = chart_data;
            }
          },
          onItem: function(context, event) {
            child_data['key_table'] = (event.currentTarget.id).replace('id_jump_target_', ''); // 立项 | 招标
            child_data['Init_UDID'] = UDID;
            var key_url = dict_Chn_Eng[child_data['key_table']];
            var content_url = "{% url 'tableFrame' 'ewhuvlk' %}"
            layer.open({
              type: 2,
              btn: ['确定', '取消'],
              title: child_data['key_table'] + '信息管理',
              area: ['100%', '100%'],
              maxmin: true,
              content: content_url.replace('ewhuvlk', key_url),
            });
          },
        });
      }
      // 初始折叠
      for (var i in table_data) {
        if (table_data[i].隐藏) {
          $('#id_tree_table').bootstrapTable('hideRow', {
            index: i
          });
        }
      }
      // 添加右键菜单
      var UDID;
      $('#id_tree_table tr').contextmenu({
        target: '#context-menu',
        before: function(event, context) {
          UDID = $(event.currentTarget).attr('data-uniqueid');
          // 高亮所在行
          $(".selected").removeClass("selected");
          $(id_table + ' tr[data-uniqueid=' + UDID + ']').addClass("selected");
          // 生成概览
          $.ajax({
            url: "{% url 'getDataForOverview' %}",
            type: 'POST',
            data: {
              'UDID': UDID,
            },
            success: getDataForOverview,
          });
          // $.post("{% url 'getDataForOverview' %}", {'UDID': UDID}, getDataForOverview);
          function getDataForOverview(myString) {
            if (myString === 'No Permission') {
              alert('您没有权限获取图表数据');
              return
            }
            $('#id_overviewInfo').html(myString);
          }
          // 生成图表
          $.ajax({
            url: "{% url 'get_Pie_Data' %}",
            type: 'POST',
            data: {
              'UDID': UDID,
            },
            success: get_Pie_Data,
          });
          // $.post("{% url 'get_Pie_Data' %}", {'UDID': UDID}, get_Pie_Data);
          function get_Pie_Data(chart_data) {
            if (chart_data === 'No Permission') {
              alert('您没有权限获取图表数据');
              return
            }
            makeChart('id_chart', chart_data.mySeries, chart_data.myTitle, chart_data.myDescribe);
            child_data['chart_data'] = chart_data;
          }
        },
        onItem: function(context, event) {
          child_data['key_table'] = (event.currentTarget.id).replace('id_jump_target_', ''); // 立项 | 招标
          child_data['Init_UDID'] = UDID;
          var key_url = dict_Chn_Eng[child_data['key_table']];
          var content_url = "{% url 'tableFrame' 'ewhuvlk' %}";
          layer.open({
            type: 2,
            btn: ['确定', '取消'],
            title: child_data['key_table'] + '信息管理',
            area: ['100%', '100%'],
            maxmin: true,
            content: content_url.replace('ewhuvlk', key_url),
          });
        },
      });
    }
  </script>

</body>
</html>